<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="MessageBody" class="messageprocessor.MessageBody"/>
	<bean id="MessageContainer" class="messageprocessor.MessageContainer" />
	
	<bean id="MessageImpl" class="messageprocessor.MessageImpl">
			<property name="messagebody">
					<ref bean="MessageBody"/>
			</property>
	</bean>
	
	

	<bean id="MessageLoader" class="messageprocessor.MessageLoader">
			<property name="messageContainer">
					<ref bean="MessageContainer"/>
			</property>
	</bean>

	<bean id="MessageSender" class="messageprocessor.MessageSender">
			<property name="messageContainer">
					<ref bean="MessageContainer"/>
			</property>
	</bean>

	

</beans>
